<div class="container-sm container-md rounded shadow-sm bg-light py-3" style="min-height: 30rem;">
    <%= link_to '<i class="fas fa-chevron-left"></i> Volver a tu portal'.html_safe, @list.product, class:'btn btn-dark btn-sm float-left'%> 
    <button type="button" class="btn btn-danger btn-sm text-light float-right" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-plus"></i> Agregar item.
    </button>
  <h2 class="text-primary text-center pt-3">
    Lista: <%= @list.title %> de <%= @list.product.title %>
  </h2>
  <hr>
  <!-- Button trigger modal -->
  <div class="text-center">


    <% if @list.pops.empty? %>

      <p class="py-3">
        No tienes ningún artículo en esta lista, agrega un artículo con el boton.
      </p>
    <% else %>
      <p class="py-3 text-left">
        Estos artículos se mostrarán en tu portal, agrega más respecto a tu lista, y crea una lista para cada categoría en tu negocio.
      </p>
    <% end %>

  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">Publica un artículo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= render 'pops/form' %>
        
      </div>
    </div>
  </div>
  
  <div class="row">
    
    <%= render @list.pops %>
  </div>
</div>