<div class="container-sm container-md rounded shadow-sm bg-light py-3">

  <%= link_to '<i class="fas fa-chevron-left"></i> Volver al portal'.html_safe, @list.product, class:'btn btn-dark btn-sm'%> 
  <h2 class="text-primary text-center pt-3">
    <%= @list.title %> de <%= @list.product.title %>
  </h2>
  <hr>
  <!-- Button trigger modal -->
  <div class="text-center">

    <button type="button" class="btn btn-danger text-light" data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-plus"></i> Agregar item.
    </button>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">Publica un artículo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= render 'pops/form' %>
        
      </div>
    </div>
  </div>
  
  <div class="row">
    
    <%= render @list.pops %>
  </div>
</div>