<%= form_for([@product, @product.messages.build]) do |f| %>
  <p class="form-group">
    <%= f.text_field :email, class:'form-control', placeholder:'Ingresa tu Email' %>
    <%- if @message.errors[:email].any? %>
      <span class="badge badge-pill badge-danger">
        <%= @message.errors[:email].first %>
      </span>
    <% end %>
  </p>
  <p class="form-group">
    <%= f.text_field :name, class:'form-control', placeholder:'Ingresa tu Nombre' %>
    <%- if @message.errors[:name].any? %>
      <span class="badge badge-pill badge-danger">
        <%= @message.errors[:name].first %>
      </span>
    <% end %>
  </p>
  <p class="form-group">
    <%= f.text_area :body, class:'form-control', placeholder:'Ingresa tu mensaje...' %>
    <%- if @message.errors[:body].any? %>
      <span class="badge badge-pill badge-danger">
        <%= @message.errors[:body].first %>
      </span>
    <% end %>
  </p>
  <button type="submit" class="btn btn-dark btn-block">
    Enviar mensaje <%= fa_icon "paper-plane" %>
  </button>
<% end %>