<%= form_for([@product, @product.articles.build] ) do |form| %>
<div class="modal-body">
  
  <div class="form-group">
    <%= form.label 'Agrega un pie de foto' %>
    <%= form.text_field :title, class:'form-control', placeholder:'Pié de foto...' %>
  </div>  
  <div class="input-group mb-3">
    <div class="custom-file">
      <%= form.label 'Seleccionar una imágen', class:'custom-file-label' %>
      <%= form.file_field :image, class:'custom-file-input', lang:'es' %>
    </div>
  </div>      
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
  <%= form.submit 'Publicar', class:'btn btn-primary' %>
  
</div>
<% end %>
  