<div class="container">
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<%= render @article.products %>

  <%= form_for([@article, @article.products.build]) do |f| %>
    <form>


              <div class="form-group">
                <%= f.label :title, class:'exampleInputEmail1' %>
                <%= f.text_field :title, :placeholder=>'Nombre negocio', :autofocus=>'off', class:'form-control' %>
              </div>

              <div class="form-group">
                  <%= f.file_field :img, class:'form-control-file' %>
              </div>
              <div class="form-group">
                <%= f.submit 'Publicar', class:"btn btn-primary", :autofocus=>'off'%>
              </div>

            </form>
  <% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</div>