<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<%= render @article.products %>

  <%= form_for([@article, @article.products.build]) do |f| %>
    <div class="ui pink form segment center aligned">
      <div class="ui purple icon header">
        <i class="ui image icon"></i>
        <h3>Subir foto:</h3>
      </div>
        <div class="ui two fields">

              <div class="field">
                <%= f.text_field :title, :placeholder=>'Nombre negocio', :autofocus=>'off' %>
              </div>

              <div class="field">
                <%= f.label 'Subir tu imagen presentación', class: "ui purple" do %>
                  <%= f.file_field :img %>
                <% end %>
              </div>
              <div class="field">
                <%= f.submit 'Publicar', class:"ui pink fluid button", :autofocus=>'off'%>
              </div>

        </div>
    </div>
  <% end %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
