




<div class="py-1 bg-light shadow container-sm container-fluid rounded-bottom">
    
    <div class="row justify-content-center">
      <% @products.each do |product| %>
      <% if product.pub_destacada == true %>
      <% if product.view == true %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <figure class="figure shadow-sm bg-white rounded">
          <div class="img-contenedor">
            
            <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product, class:'stretched-link' %>
          </div>
          <!-- Estado de abierto o cerrado -->
          <% if (Time.now.strftime("%A") === "Sunday") && product.domingoA.try(:strftime, "%H %M")..product.domingoC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.try(:strftime, "%A") === "Monday") && product.lunesA.try(:strftime, "%H %M")..product.lunesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.try(:strftime, "%A") === "Tuesday") && product.martesA.try(:strftime, "%H %M")..product.martesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.try(:strftime, "%A") === "Wednesday") && product.miercolesA.try(:strftime, "%H %M")..product.miercolesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.try(:strftime, "%A") === "Thursday") && product.juevesA.try(:strftime, "%H %M")..product.juevesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.try(:strftime, "%A"  ) === "Friday") && product.viernesA.try(:strftime, "%H %M")..product.viernesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.try(:strftime, "%A"  ) === "Saturday") && product.sabadoA.try(:strftime, "%H %M")..product.sabadoC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% else %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fab fa-expeditedssl"></i> Cerrado por hoy</span>
          <% end %>
          

          <figcaption class="figure-caption p-2">
            <h5 class="text-center">
              <% if product.title.present? %>
              <%= product.title.upcase %>
              <% end %>
            </h5>
            <p class="text-tiny text-center">
              <% if product.info.present? %>
              <%= product.info.truncate(50) %>
              <% end %>
            </p>
              <!-- Ubicación -->
              <div class="row">
                <div class="col">
                  <% if product.address.present? %>
                    <small class="float-left text-dark"><i class="fas fa-map-marked-alt"></i> <%= product.address %></small>
                  <% end %>
                </div>
                <div class="col">
                  <!-- Delivery si o no -->
                  <% if product.delivery == true %>
                    <small class="float-right text-success"><i class="fas fa-motorcycle"></i> Delivery</small>
                  <% end %>
                </div>
              </div>
          </figcaption>
        </figure>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
    
    <div class="row justify-content-center">
      <% @products.each do |product| %>
      
      <% if product.pub_normal == true %>
      <% if product.view == true %>
      <div class="col-6 col-md-3">
        <figure class="figure shadow-sm bg-white rounded">
          <div class="img-contenedor">

            <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product, class:'stretched-link' %>
            
          </div>

          <% if (Time.now.strftime("%A") === "Sunday") && product.domingoA.try(:strftime, "%H %M")..product.domingoC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
        <% elsif (Time.now.try(:strftime, "%A") === "Monday") && product.lunesA.try(:strftime, "%H %M")..product.lunesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
        <% elsif (Time.now.try(:strftime, "%A") === "Tuesday") && product.martesA.try(:strftime, "%H %M")..product.martesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
        <% elsif (Time.now.try(:strftime, "%A") === "Wednesday") && product.miercolesA.try(:strftime, "%H %M")..product.miercolesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
        <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
        <% elsif (Time.now.try(:strftime, "%A") === "Thursday") && product.juevesA.try(:strftime, "%H %M")..product.juevesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
        <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
        <% elsif (Time.now.try(:strftime, "%A"  ) === "Friday") && product.viernesA.try(:strftime, "%H %M")..product.viernesC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
        <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
        <% elsif (Time.now.try(:strftime, "%A"  ) === "Saturday") && product.sabadoA.try(:strftime, "%H %M")..product.sabadoC.try(:strftime, "%H %M") === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
        <% else %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fab fa-expeditedssl"></i> Cerrado por hoy</span>
        <% end %>

          <figcaption class="figure-caption p-2">

            <h5 class="m-2 text-center">
              <% if product.title.present? %>
              <%= product.title %>
              <% end %>
            </h5>
            <p class="text-tiny text-center">
              <% if product.info.present? %>
              <%= product.info.truncate(50) %>
              <% end %>
            </p>

            <!-- Ubicación -->
            <% if product.address.present? %>
            <small class="float-left mb-2 text-dark"><i class="fas fa-map-marked-alt"></i> <%= product.address %></small>
            <% end %>
            <!-- Delivery si o no -->
            <% if product.delivery == true %>
            <small class="float-right mb-2 text-success"><i class="fas fa-motorcycle"></i> Deli</small>
            <% end %>
          </figcaption>
        </figure>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
    
    <div class="row m-1 row-cols-3 justify-content-center">
      <% @products.each do |product| %>
        <% if product.pub_clasificado == true %>
          <% if product.view == true %>
      <div class="col-4 col-sm-4 col-md-2">
        <figure class="figure shadow-sm bg-white rounded">
          <div class="img-contenedor">

            <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product, class:'stretched-link' %>
          </div>
          <figcaption class="figure-caption pt-2 pb-2">
            <p class="m-2 text-center text-dark">
              <% if product.title.present? %>
              <%= product.title.truncate(22) %>
              <% end %>
            </p>
            <!-- Ubicación -->
            <% if product.address.present? %>
            <small class="float-left mb-2 ml-2 text-dark"><i class="fas fa-map-marked-alt"></i></small>
            <% end %>
            <!-- Delivery si o no -->
            <% if product.delivery == true %>
            <small class="float-right mb-2 mr-2 text-success"><i class="fas fa-motorcycle"></i></small>
            <% else %>
            <% end %>
          </figcaption>
        </figure>
      </div>
            <% end %>
          <% end %>
      <% end %>
    </div>
      </div>

