<div class="bg-light fondoLogo py-2 row">
  <div class="col-12 col-sm-6 col-md-8">
    <%= link_to (image_tag 'logo.svg', class:'logo mx-auto d-block'), root_path %>
  </div>
  <div class="col-12 col-sm-6 col-md-4 text-center">
    <button class="btn redes btn-facebook mt-1">
      <i class="fab fa-facebook-f"></i> Facebook  
    </button>
    <button class="btn redes btn-twitter mt-1">
      <i class="fab fa-twitter"></i> Twitter
    </button>
    <button class="btn redes btn-instagram mt-1">
      <i class="fab fa-instagram"></i> Instagram
    </button>
  </div>
</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark shadow">


  <%= link_to (image_tag 'logo_3.png', class:'img-fluid logo1 pr-3 pl-3'), root_path, class:'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-utensils"></i> Comida
        </a>
        <div class="dropdown-menu fade text-center bg-dark shadow" aria-labelledby="navbarDropdown">
          <small class="text-white">Todo comida</small><hr>
          <% @categories.each do |category| %>
            <% if category.dropdown == 'Comida Rápida' %>
              <%= link_to category.name, category, class:'dropdown-item text-danger' %>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-concierge-bell"></i> Servicios
        </a>
        <div class="dropdown-menu fade text-center" aria-labelledby="navbarDropdown">
          <small class="text-danger">Servicios varios</small><hr>
          <% @categories.each do |category| %>
            <% if category.dropdown == 'Servicios' %>
              <%= link_to category.name, category, class:'dropdown-item text-danger' %>
            <% end %>
          <% end %>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-truck"></i> Delivery
        </a>
        <div class="dropdown-menu fade text-center" aria-labelledby="navbarDropdown">
          <small class="text-danger">Servicios de delivery</small><hr>
          <% @categories.each do |category| %>
            <% if category.dropdown == 'Delivery' %>
              <%= link_to category.name, category, class:'dropdown-item text-danger' %>
            <% end %>
          <% end %>
        </div>
      </li>
     
    </ul>
    <%= form_tag search_path, class:'input-group', style:'max-width: 20rem;', method: :get do %>
    <%= text_field_tag :search, params[:search], :autocomplete => "off", class:'form-control input-search' %>
        <div class="input-group-append">
          <button type="submit" class="btn btn-outline-light" name="nil">
            <%= fa_icon "search" %>
          </button>
        </div>
    <% end %>
    <ul class="navbar-nav my-2 my-lg-0">

      <% if user_signed_in? %>
      <li>
        <%= link_to current_user, class:'nav-link' do %>
        <i class="fas fa-user-edit"></i> <%= current_user.name.capitalize %>
        <% end %>
      </li>
      <li>
        <%= link_to 'Salir <i class="fas fa-power-off"></i>'.html_safe, destroy_user_session_path, method: :delete, class:'nav-link' %>
      </li>
      <% else %>
      <li>
        <%= link_to 'Iniciar sesión <i class="fas fa-sign-in-alt"></i>'.html_safe, new_user_session_path, class:'nav-link' %>
      </li>
      <li>
        <%= link_to 'Regístrate <i class="fas fa-user-plus"></i>'.html_safe, new_user_registration_path, class:'nav-link' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>

