<div class="container-sm container-fluid bg-white rounded shadow p-3">
    <% if user_signed_in? && current_user == @user %>
        <%= link_to edit_user_registration_path, class:'btn btn-danger float-right' do %>
            <i class="fas fa-cog"></i>    
        <% end %>
    <% end %>
    <h2 class="text-center">Perfil de <%= @user.name.capitalize %></h2>
    <hr>
    <div class="row text-center">
        <div class="col-12 col-md-4">
            <div class="form-group"> 
                <%= image_tag @user.image.url(:medium), class:'redondaImg shadow-sm border border-dark' %>
            </div>
            <div class="form-group">
                <ul class="list-group list-group-flush text-left text-dark">
                    <% if @user.provider.nil? %>
                    <% else %>
                        <li class="list-group-item">Te registraste con: <%= @user.provider.capitalize %></li>
                    <% end %>
                        <li class="list-group-item">Nombre: <span class="pull-right"><%= @user.name.capitalize %> 
                        <% if @user.lastname.nil? %>
                        <% else %>
                            <%= @user.lastname.capitalize %>
                        <% end %>
                    </span>
                    </li>
                    <li class="list-group-item">Email: <%= @user.email %></li>
                        <% if @user.country.present? %>
                            <li class="list-group-item">Vivo en: <%= @user.country %></li>
                        <% else %>
                        <li class="list-group-item">
                            Dinos donde vives
                        </li>
                        <% end %>

                    <% if @user.date_of_birth.present? %>
                    <li class="list-group-item">Edad:  <%= (distance_of_time_in_words(Time.now, @user.date_of_birth)) unless @user.date_of_birth.blank? %></li>
                    <% else %>
                    <li class="list-group-item">
                        Ingresa tu edad
                    </li>
                    <% end %>
                    <% if @user.biografia.present? %>
                    <li class="list-group-item">Biografía: <br>
                        <%= @user.biografia %>
                    </li>
                    <% else %>
                    <li class="list-group-item">
                        Agrega una biografía
                    </li>
                    <% end %>
                </ul>
                
            </div>

        </div>
        <div class="col-12 col-md-8">
            <nav>
                <div class="nav nav-tabs justify-content-center mb-3" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link nav-lg active" id="nav-home-tab" data-toggle="tab" href="#pills-home" role="tab" aria-controls="nav-home" aria-selected="true">                        
                        <% if @user.following.count == 0 %>
                            Seguidos
                        <% elsif @user.following.count == 1 %>
                            <span class="badge badge-dark badge-pill"><%= @user.following.count %></span> seguido
                        <% else %>
                            <span class="badge badge-dark badge-pill"><%= @user.following.count %></span> seguidos
                        <% end %>
                    </a>
                    <a class="nav-item nav-link nav-lg " id="nav-profile-tab" data-toggle="tab" href="#pills-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                        <% if @user.comments.count == 0 %>
                        Comentarios
                        <% elsif @user.comments.count == 1 %>
                        <span class="badge badge-dark badge-pill"><%= @user.comments.count %></span> comentario
                        <% else %>
                        <span class="badge badge-dark badge-pill"><%= @user.comments.count %></span> comentarios
                        <% end %>
                    </a>
                </div>
            </nav>
              <div class="tab-content" id="nav-tabContent">
                  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="nav-home-tab">
                      <div>

                          <% if @user.following.nil? %>
                          <% else %>
                          <% if @user.following.count == 0 %>
                            <div class="alert alert-info" role="alert">No sigues a nadie aún, sigue a algún negocio y aparecerá acá</div>
                          <% else %>
                          <h5 class="my-3">Negocios seguidos.</h5>
                          <div class="card-group">
                              <div class="row px-3">
                                <% @user.following.each do |product| %>

                                    <div class="card px-0 col-4 col-md-3">
                                        <%= link_to (image_tag product.img.url(:thumb), class:'card-img-top', alt:'...'), product, class:'stretched-link' %>
                                        <div class="card-body">
                                            <h5 class="card-title"><%= product.title %></h5>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                          <% end %>
                          <% end %>
                        </div>
                  </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <h5 class="my-3">Comentarios realizados a distintas empresas.</h5>
                    <div class="row col-rows-2 px-3">
                        <%= render @user.comments %>
                    </div>
                </div>
              </div>
            
            <!-- Desde acá estan las paginas a las que sigue el usuario -->
                
        </div>
    </div>
</div>