<%= form_with(model: [@list, @pop], local: true) do |form| %>
<div class="modal-body">
  
    <div class="form-group">
      <%= form.label 'Título artículo' %>
      <%= form.text_field :title, class:'form-control' %>
    </div>
  
    <div class="form-group form-check">
      <%= form.label 'Este item es destacado?' %>
      <%= form.check_box :destacado, class:'form-control-check' %>
    </div>
  
    <div class="form-group">
      <%= form.label 'Describe tu plato' %>
      <%= form.text_field :descripcion, class:'form-control' %>
      <small id="emailHelp" class="form-text text-muted">Escribe una reseña no muy larga de tu artículo.</small>
    </div>
  
    <div class="form-group">
      <%= form.label :precio %>
      <%= form.number_field :precio, class:'form-control' %>
    </div>
  
    <div class="input-group mb-3">
      <div class="custom-file">
        <%= form.label 'Elige una imágen', class:'custom-file-label' %>
        <%= form.file_field :avatar, class:'custom-file-input' %>
      </div>
    </div>
  

    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    <%= form.submit 'Publicar', class:'btn btn-primary' %>
  </div>
  <% end %>
