<div class="col-sm-6 col-md-3 mt-3">
    <div class="card mb-3">
        <div class="row no-gutters">

                <%= image_tag pop.avatar.thumb.url, class:'card-img' %>
                <div class="card-body">
                  <h5 class="card-title">
                    <% if pop.destacado == true %>
                    <i class="fas fa-star" style="color: yellow;"></i>
                    <% end %>
                    <%= pop.title %>
                  </h5>
                  <h6 class="card-subtitle mb-2 text-muted">Precio $<%= number_with_delimiter(pop.precio, :delimiter => ".") %></h6>
                  <p class="card-text"><%= pop.descripcion.truncate_words(30) %></p>
                    <% if user_signed_in? && current_user == @list.user %>
                    <%= link_to 'Eliminar', [pop.list, pop],
                                            method: :delete,
                                            data: { confirm: 'Estás seguro de eliminar en post?' }, class:'btn btn-danger btn-sm' %>
                   <% end %>
                </div>
            
        </div>
    </div>
  </div>