


    <div class="col-12 col-sm-6 col-md-4">
      <div class="row no-gutters border-bottom">
        <div class="col-4 col-md-4">
          <%= image_tag pop.avatar.url(:thumb), class:'card-img' %>
        </div>
        <div class="col-7 col-md-7">
          <div class="p-2">
            <p class="font-weight-bold">
              <% if pop.destacado == true %>
              <i class="fas fa-star" style="color: yellow;"></i>
              <% end %>
              <%= pop.title %>
            </p>
            <p class="mb-2 text-muted text-tiny">Precio $<%= number_with_delimiter(pop.precio, :delimiter => ".") %></p>
          <small><p class="text-tiny"><%= pop.descripcion.truncate_words(30) %></p></small>
        </div>
      </div>
      <div class="col-1 col-md-1 bg-light text-center text-middle">
              <% if user_signed_in? && current_user == @list.user %>
            
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, [pop.list, pop], class:'h5',
                                    method: :delete,
                                    data: { confirm: 'Estás seguro de eliminar en post?' } %>
            
            <% end %>
        
      </div>
    </div>
  </div>
