<div class="container mt-2 bg-white rounded">
  <h5 class="pt-3">Publicaciones Destacadas</h5>
  <hr>
  <div class="row">
    <% @products.each do |product| %>
      <% if product.pub_destacada == true %>
        <% if product.view == true %>
          <div class="col-sm col-md-4">
            <figure class="figure shadow-sm bg-white rounded">
              <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product %>
              <figcaption class="figure-caption">
                <h5 class=""><%= product.title %></h5>
                <p class="card-text"><%= product.info %></p>
                <% if user_signed_in? && current_user = @admin %>
                <%= link_to 'Destroy', product, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </figcaption>
            </figure>
          </div>
        <% end %>
      <% end %>
      <% end %>
    </div>

  <h5 class="pt-3">Publicaciones</h5>
  <hr>
  <div class="row mt-2">
    <% @products.each do |product| %>
    
      <% if product.pub_normal == true %>
        <% if product.view == true %>
          <div class="col-xs-6 col-md-3">
            <figure class="figure shadow-sm bg-white rounded">
              <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product %>
              <figcaption class="figure-caption">
                <h5 class=""><%= product.title %></h5>
                <p class="card-text"><%= product.info %></p>
                <% if user_signed_in? && current_user = @admin %>
                <%= link_to 'Destroy', product, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </figcaption>
            </figure>
          </div>
        <% end %>
      <% end %>
      <% end %>
    </div>

  <h5>Clasificados</h5>
  <hr>
  <div class="row mt-2">
    <% @products.each do |product| %>
      <% if product.pub_clasificado == true %>
        <% if product.view == true %>
          <div class="col-sm-4 col-md-2">
            <figure class="figure shadow-sm bg-white rounded">
              <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product %>
              <figcaption class="figure-caption">
                <h5 class=""><%= product.title %></h5>
                <p class="card-text"><%= product.info %></p>
                <% if user_signed_in? && current_user = @admin %>
                <%= link_to 'Destroy', product, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </figcaption>
            </figure>
          </div>
        <% end %>
      <% end %>
      <% end %>
    </div>
</div>
    
    
    
