<div class="ui segments">
    <div class="ui secondary segment pink">
        <h2 class="ui purple header">Sugerencias atención</h2>
    </div>
    <div class="ui segment">
        
        <b class="ui pink sub header">Qué hacer para fomentar una buena experiencia:</b> <br><br>
        <ul>
            <li>Ir limpio y ordenado, e idealmente&nbsp;<strong>SIEMPRE&nbsp;</strong>ducharse antes de la atenci&oacute;n.</li>
            <li>Si tuvo un mal d&iacute;a y quiere sacar el estr&eacute;s, recuerde que la chica le va a liberar tensiones con su carisma y buen sexo, no la trate mal. Sus problemas son suyos y no de ella.</li>
            <li>Respete la hora. Si la hora termin&oacute;, a esa hora debe irse, no despu&eacute;s.</li>
            <li>Sea respetuoso. As&iacute; como un masaje, una atenci&oacute;n con un psic&oacute;logo o cualquier otro servicio personal, la persona frente a usted est&aacute; trabajando en darle un buen pasar.</li>
            <li>Tenga claro cu&aacute;les son los servicios y no exija otras cosas (puede preguntar de todas maneras). Vea lo que dice en la publicaci&oacute;n de la chica y tambi&eacute;n preg&uacute;ntele por WhatsApp (a veces ponen servicios gen&eacute;ricos y despu&eacute;s se entera que la chica no los hace).</li>
            <li>Si quiere pedir algo en especial, conv&eacute;rselo con la chica antes de agendar la cita y no insista frente a una negativa. Mismo caso si lo solicita en el momento del encuentro, pero es recomendable que lo haga antes.</li>
            <li>Si llega tarde, recuerde que era &quot;una cita&quot; y la hora termina a la fijada inicialmente (ejemplo, si acord&oacute; ver a la chica a las 14:00, y llega a las 14:20, igualmente la hora termina a las 15:00. La chica deja de atender por usted, y es su tiempo)</li>
            <li>Respeta la privacidad de la chica. No pidas nombres, tel&eacute;fonos ni fotos.</li>
            <li>El WhatsApp de la chica no es para conversar y no necesita entrar en confianza, sea educado, salude, consulte lo que necesita y agende. Recuerde que no es el &uacute;nico que le est&aacute; escribiendo y si escribe mucho probablemente lo van a ignorar.</li>
            <li>El n&uacute;mero de departamento se lo van a dar un momento antes de que comience su hora, no insista en pedirlo antes.</li>
            <li>Pague al final de la atenci&oacute;n, a menos que sea un lugar de confianza. De todas maneras, si todo estuvo en regla e igual no estuvo satisfecho con la atenci&oacute;n, pague igual. Si le cobran antes de comenzar la atenci&oacute;n preste mucha atenci&oacute;n al lugar donde est&aacute; y c&oacute;mo lo reciben.</li>
        </ul>
        <br>

        <b class="ui pink sub header">Qué hacer para evitar una mala experiencia:</b> <br><br>

        <ul>
            <li>Si agendas con una chica y esta no est&aacute; al momento que debes atenderte, no tomes el servicio. Las disculpas respectivas vienen despu&eacute;s.</li>
            <li>Si cerca de la hora de comenzar la atenci&oacute;n la chica apaga el celular,&nbsp;a la hora de la atenci&oacute;n no tienes respuesta o te piden subir muy pasado la hora de atenci&oacute;n, no te atiendas.</li>
            <li>Si el sitio de la atenci&oacute;n no tiene buena presentaci&oacute;n o buena higiene, puedes retirarte.</li>
            <li>Si la chica no es la de las fotos, descubres que las fotos est&aacute;n muy retocadas o simplemente no te ha agradado (ya sea f&iacute;sicamente o en su personalidad) no te quedes.</li>
            <li>Si cerca de la hora de atenci&oacute;n te cambian el horario, pueden haber problemas.</li>
            <li>Si al momento que la chica te recibe, esta se ve mal, enferma, muy cansada o desaseada, dar media vuelta e irse.</li>
        </ul>
    </div>

</div>

<div class="row text-center">
    <div class="col">
      <span class="badge "><%= @product.visits_count %></span> visitas
    </div>
    <div class="col">
      <% if @product.followers.empty? %>
      <% elsif @product.followers.count == 1 %>
      <span class="badge"><%= @product.followers.count %></span> seguidor
      <% else %>
      <span class="badge"><%= @product.followers.count %></span> seguidores
      <% end %>
    </div>
    
  </div>
  <% if @product.followers.empty? %>
  <% else %>
  <div class="box_users d-block mx-auto">

    <% @product.followers.each do |user| puts 1 %>
    <%= link_to (image_tag user.image.url(:avatar), class:'redondaImg user_prod border border-white border-md'), user %>
    
    <% end %>
  </div>
  <% end %>
    

  <% if user_signed_in? && current_user == (@product.user) %>
  <% else %>
    <% if user_signed_in? && current_user.following?(@product) %>
      <%= button_to friendship_path(product_id: @product.id), method: :delete, class:'btn btn-light btn-sm' do %>
      <i class="fas fa-check"></i> Siguiendo
      <% end %>
    <% else %>
      <%= button_to friendships_path(product_id: @product.id), class:'btn btn-light btn-sm' do %>
      <i class="fas fa-rss"></i> Seguir
      <% end %>
    <% end %>
  <% end %>




  <!--  esto es de usuario -->

  <!-- <div>

                          <% if @user.following.count == 0 %>
                            <div class="alert alert-info" role="alert">No sigues a nadie aún, sigue a algún negocio y aparecerá acá</div>
                          <% else %>
                          <h5 class="my-3">Negocios seguidos.</h5>
                          <div class="card-group">
                              <div class="row px-3">
                                <% @user.following.each do |product| %>

                                    <div class="card px-0 col-4 col-md-3">
                                        <%= link_to (image_tag product.img.url(:thumb), class:'card-img-top', alt:'...'), product, class:'stretched-link' %>
                                        <div class="card-body">
                                            <h5 class="card-title"><%= product.title %></h5>
                                        </div>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                          <% end %>
                        </div> -->

                        <!-- <a class="nav-item nav-link nav-lg active" id="nav-home-tab" data-toggle="tab" href="#tab-home" role="tab" aria-controls="nav-home" aria-selected="true">                        
                        
                        <% if @user.following.count == 0 %>
                            Seguidos
                        <% elsif @user.following.count == 1 %>
                            <span class="badge badge-dark badge-pill"><%= @user.following.count %></span> seguido
                        <% else %>
                            <span class="badge badge-dark badge-pill"><%= @user.following.count %></span> seguidos
                        <% end %>
                        <% end %>
                    </a> -->