
<div class="bg-light shadow container-sm container-fluid rounded">
    <h1 class="text-center p-2 text-primary">
      <%= @category.name %>
    </h1>
    <h5 class="p-2 text-dark text-center">Publicaciones Destacadas</h5>
    <div class="row justify-content-center">
      <% @category.products.each do |product| %>
      <% if product.pub_destacada == true %>
      <% if product.view == true %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <figure class="figure shadow bg-white rounded">
          <div class="img-contenedor">
            
            <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product, class:'stretched-link' %>
          </div>
          <!-- Estado de abierto o cerrado -->
          <% if (Time.now.strftime("%A") === "Sunday") && (product.domingoA.strftime("%H %M")..product.domingoC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.strftime("%A") === "Monday") && (product.lunesA.strftime("%H %M")..product.lunesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.strftime("%A") === "Tuesday") && (product.martesA.strftime("%H %M")..product.martesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.strftime("%A") === "Wednesday") && (product.miercolesA.strftime("%H %M")..product.miercolesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.strftime("%A") === "Thursday") && (product.juevesA.strftime("%H %M")..product.juevesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.strftime("%A") === "Friday") && (product.viernesA.strftime("%H %M")..product.viernesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% elsif (Time.now.strftime("%A") === "Saturday") && (product.sabadoA.strftime("%H %M")..product.sabadoC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Atendiendo</span>
          <% else %>
            <span class="notify-badge shadow-sm bg-dark"><i class="fab fa-expeditedssl"></i> Cerrado por hoy</span>
          <% end %>

          <figcaption class="figure-caption p-2">
            <h6 class="text-center"><%= product.title.upcase %></h6>
            <p class="text-tiny text-center"><%= product.info.truncate(50) %></p>
            <!-- Ubicación -->
            <div class="row">
              <div class="col-5">
                <% if product.address.empty? %>
                <% else %>
                  <small class="float-left mb-2 text-dark"><i class="fas fa-map-marked-alt"></i> <%= product.address %></small>
                <% end %>
              </div>
              <div class="col-4 text-center">
                <% if product.visits_count.nil? %>
                <% else %>
                  <small class="mb-2 text-dark"><i class="fas fa-eye"></i> <%= product.visits_count %></small>
                <% end %>
              </div>
              <div class="col-3">
                <!-- Delivery si o no -->
                <% if product.delivery == true %>
                  <small class="float-right mb-2 text-success"><i class="fas fa-motorcycle"></i> Delivery</small>
                <% else %>
                <% end %>
              </div>
            </div>
          </figcaption>
        </figure>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
    
    <h5 class="p-2 text-dark text-center">Publicaciones</h5>
    <div class="row justify-content-center">
      <% @category.products.each do |product| %>
      
            
      <% if product.pub_normal == true %>
      <% if product.view == true %>
      <div class="col-6 col-md-3">
        <figure class="figure shadow bg-white rounded">
          <div class="img-contenedor">

            <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product, class:'stretched-link' %>
            
          </div>

        <% if (Time.now.strftime("%A") === "Sunday") && (product.domingoA.strftime("%H %M")..product.domingoC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Abierto</span>
        <% elsif (Time.now.strftime("%A") === "Monday") && (product.lunesA.strftime("%H %M")..product.lunesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Abierto</span>
        <% elsif (Time.now.strftime("%A") === "Tuesday") && (product.martesA.strftime("%H %M")..product.martesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Abierto</span>
        <% elsif (Time.now.strftime("%A") === "Wednesday") && (product.miercolesA.strftime("%H %M")..product.miercolesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Abierto</span>
        <% elsif (Time.now.strftime("%A") === "Thursday") && (product.juevesA.strftime("%H %M")..product.juevesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Abierto</span>
        <% elsif (Time.now.strftime("%A") === "Friday") && (product.viernesA.strftime("%H %M")..product.viernesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Abierto</span>
        <% elsif (Time.now.strftime("%A") === "Saturday") && (product.sabadoA.strftime("%H %M")..product.sabadoC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fas fa-lock-open"></i> Abierto</span>
        <% else %>
          <span class="notify-badge shadow-sm bg-dark"><i class="fab fa-expeditedssl"></i> Cerrado</span>
        <% end %>

          <figcaption class="figure-caption p-2">
            <h6 class="m-2 text-center"><%= product.title.upcase %></h6>
            <p class="text-tiny text-center"><%= product.info.truncate(50) %></p>
            <!-- Ubicación -->
            <% if product.address.empty? %>
            <% else %>
            <small class="float-left mb-2 text-dark"><i class="fas fa-map-marked-alt"></i> <%= product.address %></small>
            <% end %>
            <!-- Delivery si o no -->
            <% if product.delivery == true %>
            <small class="float-right mb-2 text-success"><i class="fas fa-motorcycle"></i> Deli</small>
            <% else %>
            <% end %>
          </figcaption>
        </figure>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
    
    <h5 class="p-2 text-dark text-center">Clasificados</h5>
    <div class="row justify-content-center">
      <% @category.products.each do |product| %>
      <% if product.pub_clasificado == true %>
      <% if product.view == true %>
  <div class="col-4 col-sm-4 col-md-2">
    <figure class="figure shadow-sm bg-white rounded">
      <div class="img-contenedor">

        <%= link_to (image_tag product.img.thumb.url, class:'card-img-top'), product, class:'stretched-link' %>
      </div>
      <figcaption class="figure-caption pt-2 pb-2">
        <p class="m-2 text-center text-dark"><%= product.title.truncate(22) %></p>
        <!-- Ubicación -->
        <% if product.address.empty? %>
        <% else %>
        <small class="float-left mb-2 ml-2 text-dark"><i class="fas fa-map-marked-alt"></i></small>
        <% end %>
        <!-- Delivery si o no -->
        <% if product.delivery == true %>
        <small class="float-right mb-2 mr-2 text-success"><i class="fas fa-motorcycle"></i></small>
        <% else %>
        <% end %>
      </figcaption>
    </figure>
  </div>
        <% end %>
      <% end %>
      <% end %>
        </div>
      
    </div>
      
      
      