<div class="modal-body">
  <div class="form bg-light">
  <%= form_with(model: @product, local: true) do |form| %>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8">
        <div class="form-group">
          <h6><%= form.label 'Nombre Fantasía' %></h6>
          <%= form.text_field :title, class:'form-control', autofocus:'true' %>
        </div>

        <div class="form-group">
          <h6><%= form.label 'Eslogan o descripción breve, máximo 40 letras.' %></h6>
          <%= form.text_field :info, class:'form-control' %>
        </div>
        
        <div class="form-group">
          <h6><%= form.label 'Describe tu empresa' %></h6>
          <%= form.rich_text_area :body, class:'form-control', style:'min-height: 12rem;', placeholder:'Escribe una reseña de tu negocio...' %>
        </div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-4">
        <% if user_signed_in? && current_user == User.where(id: 1) %>
        <div class="form-group-check text-left">
          <h6>Categorías para menú</h6>
          <p class="text-tiny">Escoge categorías donde aparecerá tu empresa.</p>
          <% @categories.each do |category| %>
          <label><%= category.name %></label>
          <%= check_box_tag "categories[]", category.id, class:'form-control-check' %><br/>
          
          <% end %>
        </div>
        <% end %>
      </div>

    </div>
    

  <div class="input-group mb-3">
    <div class="custom-file">
      <%= form.label 'Elige una imágen', class:'custom-file-label' %>
      <%= form.file_field :img, class:'custom-file-input' %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-12 col-sm-12 col-md-6">
      <h6><%= form.label 'Web personal' %></h6>
      <%= form.text_field :web, class:'form-control', placeholder:'Ej. https://www.ejemploweb.cl' %>
    </div>

    <div class="form-group col-12 col-sm-12 col-md-6">
      <h6><%= form.label 'Escribe palabras para el motor de busqueda' %></h6>
      <%= form.text_field :palabras, class:'form-control', placeholder:'Ej. sushi, café, pasteles, libros, etc.' %>

    </div>
  </div>

  
  <div class="row">
    <div class="form-group col-6 col-md-4">
      <h6><%= form.label 'Dirección' %></h6>
      <%= form.text_field :address, class:'form-control' %>
    </div>

    <div class="form-group col-6 col-md-4">
      <h6><%= form.label 'Número de contacto' %></h6>
      <%= form.number_field :phone, class:'form-control' %>
    </div>
  
    <div class="form-group col-6 col-md-4">
      <h6><%= form.label 'Correo electrónico de contacto clientes' %></h6>
      <%= form.text_field :email, class:'form-control' %>
    </div>
  </div>
  
  <h5 class="mt-3">Botones de redes sociales</h5>
  <hr>
  <div class="row">
    <div class="form-group col-12 col-md-4">
      <h6><%= form.label :facebook %></h6>
      <%= form.text_field :facebook, class:'form-control' %>
    </div>
  
    <div class="form-group col-12 col-md-4">
      <h6><%= form.label :twitter %></h6>
      <%= form.text_field :twitter, class:'form-control' %>
    </div>

    <div class="form-group col-12 col-md-4">
      <h6><%= form.label :instagram %></h6>
      <%= form.text_field :instagram, class:'form-control' %>
    </div>
  </div>


  <h5 class="mt-3 text-center">Tipo de atención</h5>
  <hr>
  <div class="text-center row">
    <div class="form-group col">
      <%= form.label 'Tiempo de espera' %> <%= form.select :tiempoEspera, Product::M_LIST, class:'form-control' %> min.
    </div>
    <div class="form-group col">
      <%= form.label 'Haces Delivery?' %>
      <%= form.select :delivery, Product::DELIVERY, class:'form-control' %>
    </div>
  </div>




      <h5 class="mt-3">Horarios apertura y cierre</h5>
      <hr>
      <div class="row">
        <!-- Horarios de apertura local -->
        <div class="col-12 col-sm-6">
          <h6>Apertura</h6>
          <table>
            <tr>
              <th><%= form.label 'Lunes', class:'my-1 mr-2' %></th>
              <td class="form-inline">
                  <%= form.time_select :lunesA, {minute_step: 15}, class:'form-control inp' %>
              </td>
            </tr>
            <tr>
              <th><%= form.label 'Martes', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :martesA, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Miercoles', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :miercolesA, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Jueves', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :juevesA, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Viernes', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :viernesA, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Sábado', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :sabadoA, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Domingo', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :domingoA, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <!-- Horarios de cierre local -->
        <div class="col-12 col-sm-6">
          <h6>Cierre</h6>
          <table>
            <tr>
              <th><%= form.label 'Lunes', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :lunesC, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
              <th><%= form.label 'Martes', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :martesC, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Miercoles', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :miercolesC, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Jueves', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :juevesC, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Viernes', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :viernesC, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Sábado', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :sabadoC, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
            <tr>
            <th><%= form.label 'Domingo', class:'my-1 mr-2' %></th>
              <td>
                <div class="form-inline">
                  <%= form.time_select :domingoC, {minute_step: 15}, class:'form-control inp' %>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

  </div>
</div>
<div class="modal-footer">
  <div class="actions">
    <%= form.submit 'Publicar', class:'btn btn-dark' %>
  </div>
</div>
<% end %>