<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :view %>
    <%= form.check_box :view %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="field">
    <%= form.label :img %>
    <%= form.text_field :img %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.number_field :phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter %>
  </div>

  <div class="field">
    <%= form.label :articles_id %>
    <%= form.text_field :articles_id %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_field :info %>
  </div>

  <div class="field">
    <%= form.label :horaA %>
    <%= form.number_field :horaA %>
  </div>

  <div class="field">
    <%= form.label :minA %>
    <%= form.number_field :minA %>
  </div>

  <div class="field">
    <%= form.label :horaC %>
    <%= form.number_field :horaC %>
  </div>

  <div class="field">
    <%= form.label :minC %>
    <%= form.number_field :minC %>
  </div>

  <div class="field">
    <%= form.label :tiempoEspera %>
    <%= form.text_field :tiempoEspera %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
