<div class="justify-content-center">
    <%= image_tag @product.img.thumb.url, class:'rounded img-fluid d-block text-center mx-auto shadow-sm' %>
  </div>
  <blockquote class="blockquote text-center">
    <h2 class="text-center shadow-text titulo mt-3"><%= @product.title.upcase %></h2>


    <% if @product.info.present? %>
    <footer class="blockquote-footer">
      <%= @product.info %>
    </footer>
    <% end %>

  </blockquote>

  <div class="row text-center">
    <div class="col">
      <span class="badge "><%= @product.visits_count %></span> visitas
    </div>
    
    
  </div>
    
  
  



   <!-- Modal -->
  <div class="modal fade" id="<%= @product.title.delete(' ') %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Información de la empresa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>