

<div class="card" style="width: 18rem;">
  <%= image_tag product.img.thumb.url, class:'card-img-top' %>
  <div class="card-body">
    <h5 class="card-title"><%= product.title %></h5>
    <p class="card-text"><%= product.info %></p>
    <%= link_to 'Go somewhere', product, class:'btn btn-primary' %>
    <%= link_to 'Destroy', product, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>