<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Home',home_index_path %></li>
    <li class="breadcrumb-item">
      <% @product.categories.each do |category| %>
        <%= link_to category.name, category, style:"color:#{category.color};" %>
      <% end %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product.title %></li>
  </ol>
</nav>


<div class="jumbotron">
  <h1><%= @product.title %></h1>
  <hr>
  <div class="row justify-content-md-center">
    <%= image_tag @product.img.thumb.url, class:'rounded img-fluid' %>
  </div>
  
  <p class="lead"><%= @product.phone %></p>
  <hr class="my-4">
  <p><%= @product.body %></p>
  <p>
    <%= @product.email %>
  </p>
  <p>
    <%= @product.address %>
  </p>
  <p>
    <%= @product.info %>
  </p>
  <a class="btn btn-primary btn-sm" href="<%= @product.facebook %>" role="button">Facebook</a>
  <p>
    <%= @product.tiempoEspera %> Minutos
  </p>
  <p>
    <strong>Hora apertura:</strong>
    <%= @product.horaA %>:<%= @product.minA %>0 am.
    
  </p>
  
  
  
  <p>
    <strong>Hora cierre:</strong>
    <%= @product.horaC %>:<%= @product.minC %>0 pm.
    
  </p>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
  Agrega un nuevo menú.
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">

          Título Menú
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'lists/form' %>
     
    </div>
  </div>
</div>

<% @product.lists.each do |list| %>
<% if user_signed_in? && current_user == @product.user %>
<h4 class="h3"><%= link_to list.title, list %></h4>
<%= link_to 'Agregar plato', list, class:'btn btn-primary btn-sm'%>
<% else %>
<div class="inline-block"><h4 class="h3"><%= list.title %></h4>
</div>

<% end %>
<hr>
<div class="container">
  <div class="row">
    <% list.pops.each do |pop| %>
    <div class="col-3 mt-3">
      <div class="card text-white bg-success mb-3" style="width: 18rem;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <%= image_tag pop.avatar.thumb.url, class:'card-img' %>
          </div>
          <div class="col-md-8">

            <div class="card-body">
              <h5 class="card-title">
                <i class="fas fa-star mt-0" style="color: yellow;"></i>

                <%= pop.title %>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= pop.precio %></h6>
              <p class="card-text"><%= pop.descripcion.truncate(30) %></p>
              <a href="#" class="card-link">Card link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
  
   

    <br>

<% end %>
<br><br><br>


<!-- <%= link_to 'Edit', edit_product_path(@product) %> | -->
<div class="fixed-bottom">
<%= link_to 'Back', products_path %>
</div>