<div class="container-fluid bg-white py-3 shadow-sm">
  <div class="text-center"> 


    
    <% if user_signed_in? && current_user == @product.user %>
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#<%= @product.title.delete(' ') %>"><i class="fas fa-cog"></i> Configurar</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoria"><i class="fas fa-clipboard-list"></i> Agrega Lista</button>
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#message"><i class="fab fa-readme"></i> Leer mensajes</button> -->
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_carrousel"><i class="far fa-images"></i> Carrousel</button> -->
    </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-7">
      <div class="justify-content-center">
        <%= image_tag @product.img.thumb.url, class:'rounded img-fluid d-block text-center mx-auto shadow' %>
      </div>
      <blockquote class="blockquote text-center">
        <h2 class="text-center shadow-text titulo mt-3"><%= @product.title.upcase %></h2>


        <% if @product.info.empty? %>
        <% else %>
        <footer class="blockquote-footer">
          <%= @product.info %>
        </footer>
        <% end %>

        <div class="row text-center">
          <div class="col">
            <span class="badge "><%= @product.visits_count %></span> visitas
          </div>
          <div class="col">
            <% if @product.followers.empty? %>
            <% elsif @product.followers.count == 1 %>
            <span class="badge"><%= @product.followers.count %></span> seguidor
            <% else %>
            <span class="badge"><%= @product.followers.count %></span> seguidores
            <% end %>
          </div>
          
        </div>
        <% if @product.followers.empty? %>
        <% else %>
        <div class="box_users d-block mx-auto">

          <% @product.followers.each do |user| puts 1 %>
          <%= link_to (image_tag user.image.url(:avatar), class:'redondaImg user_prod border border-white border-md'), user %>
          
          <% end %>
        </div>
        <% end %>
          

        <% if user_signed_in? && current_user == (@product.user) %>
        <% else %>
          <% if user_signed_in? && current_user.following?(@product) %>
            <%= button_to friendship_path(product_id: @product.id), method: :delete, class:'btn btn-light btn-sm' do %>
            <i class="fas fa-check"></i> Siguiendo
            <% end %>
          <% else %>
            <%= button_to friendships_path(product_id: @product.id), class:'btn btn-light btn-sm' do %>
            <i class="fas fa-rss"></i> Seguir
            <% end %>
          <% end %>
        <% end %>

      </blockquote>
       <!-- Modal -->
       <div class="modal fade" id="<%= @product.title.delete(' ') %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Información de la empresa.</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <%= render 'form' %>
          </div>
        </div>
      </div>

    </div>
    <div class="col-12 col-2 col-sm-12 col-md-5">

        <div class="mx-auto d-block p-3 rounded bg-light text-muted">

          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row" class="text-right"><i class="fas fa-phone"></i></th>
                <td>+<%= @product.phone %></td>
              </tr>
              <tr>
                <th scope="row" class="text-right"><i class="far fa-envelope"></i></th>
                <td><%= @product.email %></td>

              </tr>
              <tr>
                <th scope="row" class="text-right"><i class="fas fa-map-marked-alt"></i></th>
                <td><%= @product.address %></td>
              </tr>
              <% if @product.credito == true %>
              <tr>
                <th scope="row" class="text-right"><i class="far fa-credit-card"></i></th>
                <td><%= image_tag 'mediosPagos.png', class:'img-fluid rounded', style:'max-height: 3rem;' %></td>
              </tr>
              <% end %>
              <% if @product.efectivo == true %>
              <tr>
                <th scope="row" class="text-right"><i class="fas fa-money-bill-wave"></i></th>
                <td>Eféctivo</td>
              </tr>
              <% end %>
              <% if @product.transferencia == true %>
              <tr>
                <th scope="row" class="text-right"><i class="fas fa-money-check"></i></th>
                <td>Transferencias</td>
              </tr>
              <% end %>
              <% if @product.debito == true %>
              <tr>
                <th scope="row" class="text-right"><i class="fas fa-wallet"></i></th>
                <td>Débito</td>
              </tr>
              <% end %>

              <tr>
                <th scope="row" class="text-right"><i class="fas fa-hourglass-start"></i></th>
                <td><%= @product.tiempoEspera %> Minutos espera</td>
              </tr>
            </tbody>
          </table>
          <div class="text-center">

            <% if (Time.now.strftime("%A") === "Sunday") && (@product.domingoA.strftime("%H %M")..@product.domingoC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="badge badge-primary text-wrap shadow-sm bg-dark"><i class="fa fa-circle text-success"></i> Hoy Domingo nos encontramos atendiendo desde las <%= @product.domingoA.strftime("%H:%M")%> hasta las <%= @product.domingoC.strftime("%H:%M")%>hrs. </span>
            <% elsif (Time.now.strftime("%A") === "Monday") && (@product.lunesA.strftime("%H %M")..@product.lunesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="badge badge-primary text-wrap shadow-sm bg-dark"><i class="fa fa-circle text-success"></i> Hoy Lunes nos encontramos atendiendo desde las <%= @product.lunesA.strftime("%H:%M")%> hasta las <%= @product.lunesC.strftime("%H:%M")%>hrs.</span>
            <% elsif (Time.now.strftime("%A") === "Tuesday") && (@product.martesA.strftime("%H %M")..@product.martesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="badge badge-primary text-wrap shadow-sm bg-dark"><i class="fa fa-circle text-success"></i> Hoy Martes nos encontramos atendiendo desde las <%= @product.martesA.strftime("%H:%M")%> hasta las <%= @product.martesC.strftime("%H:%M")%>hrs.</span>
            <% elsif (Time.now.strftime("%A") === "Wednesday") && (@product.miercolesA.strftime("%H %M")..@product.miercolesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="badge badge-primary text-wrap shadow-sm bg-dark"><i class="fa fa-circle text-success"></i> Hoy Miércoles nos encontramos atendiendo desde las <%= @product.miercolesA.strftime("%H:%M")%> hasta las <%= @product.miercolesC.strftime("%H:%M")%>hrs.</span>
            <% elsif (Time.now.strftime("%A") === "Thursday") && (@product.juevesA.strftime("%H %M")..@product.juevesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="badge badge-primary text-wrap shadow-sm bg-dark"><i class="fa fa-circle text-success"></i> Hoy Jueves nos encontramos atendiendo desde las <%= @product.juevesA.strftime("%H:%M")%> hasta las <%= @product.juevesC.strftime("%H:%M")%>hrs.</span>
            <% elsif (Time.now.strftime("%A") === "Friday") && (@product.viernesA.strftime("%H %M")..@product.viernesC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="badge badge-primary text-wrap shadow-sm bg-dark"><i class="fa fa-circle text-success"></i> Hoy Viernes nos encontramos atendiendo desde las <%= @product.viernesA.strftime("%H:%M")%> hasta las <%= @product.viernesC.strftime("%H:%M")%>hrs.</span>
            <% elsif (Time.now.strftime("%A") === "Saturday") && (@product.sabadoA.strftime("%H %M")..@product.sabadoC.strftime("%H %M")) === Time.now.strftime("%H %M") %>
            <span class="badge badge-primary text-wrap shadow-sm bg-dark"><i class="fa fa-circle text-success"></i> Hoy Sábado nos encontramos atendiendo desde las <%= @product.sabadoA.strftime("%H:%M")%> hasta las <%= @product.sabadoC.strftime("%H:%M")%>hrs.</span>
            <% else %>
            <span class="badge badge-primary text-wrap shadow-sm bg-dark"><i class="fa fa-circle text-danger"></i>Hoy <%= Time.now.strftime("%A") %> tenemos cerrado</span>
            <% end %>
          </div>
            
          
        </div>
        
      

    </div>

  </div>
  <hr>


    <div class="text-center">      
      <% if @product.phone.nil? %>
      <% else %>
      <a href="https://wa.me/<%= @product.phone %>?text=Hola <%= @product.title.capitalize %>, los vi en BuinPymes<% if user_signed_in? %> soy <%= current_user.name %><%end%>, quería saber" target="_blank" class="shadow-sm btn redes btn-whatsapp mt-1"><i class="fab fa-whatsapp"></i> Whatsapp</a>
      <% end %>

      <% if @product.facebook.nil? %>
      <% else %>
      <a href="<%= @product.facebook %>" title="Facebook" class="shadow-sm btn redes btn-facebook mt-1"><i class="fab fa-facebook-f"></i> Facebook</a>
      <% end %>

      <% if @product.twitter.nil? %>
      <% else %>
      <a href="<%= @product.twitter %>" class="shadow-sm btn redes btn-twitter mt-1"><i class="fab fa-twitter"></i> Twitter</a>
      <% end %>

      <% if @product.instagram.nil? %>
      <% else %>
      <a href="<%= @product.instagram %>" class="shadow-sm btn redes btn-instagram mt-1"><i class="fab fa-instagram"></i> Instagram</a>
      <% end %>

      <% if @product.email.nil? %>
      <% else %>
      <a href="mailto:<%= @product.email %>" class="shadow-sm btn redes btn-danger mt-1"><i class="far fa-envelope"></i> Email</a>
      <% end %>
      
    </div>

</div>

<!-- Contenido de la empresa -->
<!-- Article -->
<div class="container-fluid bg-white py-3">
  <div class="row row-cols-2">
    <div class="col-12 col-sm-12 col-lg-9">
        <div class="p-4 mb-3 bg-light text-primary text-justify rounded border shadow-sm lead">
          <h5 class="text-center">Descripción de servicios.</h5><hr>
          <%= @product.rich_text_body %>
        </div>
        <!-- Carousel imágenes -->
          
   
        <!-- fin carousel -->



      <!-- Comienza info -->
      <nav>
        <div class="nav nav-tabs mb-3 mr-sm-2" id="nav-tab" role="tablist">
          <a class="nav-item nav-link text-dark nav-lg active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Lista artículos</a>
          <a class="nav-item nav-link text-dark nav-lg" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Horarios</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        
          
          <!-- Modal -->
          <div class="modal fade" id="categoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
          
                    Añadir una lista
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= render 'lists/form' %>
               
              </div>
            </div>
          </div>

           <!-- Modal -->
           <div class="modal fade" id="modal_carrousel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
          
                    Agregar una imagen al carrousel.
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <%= render 'articles/form' %>
               
              </div>
            </div>
          </div>
          
          <% @product.lists.each do |list| %>
            <% if user_signed_in? && current_user == @product.user %>
            <small>
              <%= link_to list, class:'text-danger float-right', method: :delete, data: { confirm: 'Estás seguro?' } do %>
              <i class="far fa-trash-alt"></i> Eliminar
              <% end %>
            </small>
            <%= link_to '<i class="fas fa-th"></i> Agregar item'.html_safe, list, class:' text-primary float-left'%>
              <h4 class="mt-3 text-center">
                <%= link_to list.title, list %>
              </h4>
            <% else %>
              <div class="inline-block">
                <h4 class="text-center text-dark">
                  <%= list.title %>
                </h4>
              </div>
          
            <% end %>
            <div class="row">
              <% list.pops.each do |pop| %>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3 mt-1 pr-1 pl-1">
                <div class="card text-dark shadow-sm mb-3">
                  <a data-toggle="modal" data-target="#<%= pop.title.delete(' ') %>">
                    <%= image_tag pop.avatar.thumb.url, class:'card-img-top' %>
                  </a>
                      <% if pop.destacado == true %>
                      <div class="notify-badge">
                        <i class="fas fa-star estrellita"></i>
                      </div>
                      <% end %>
                      <div class="card-body text-center">
                        <h6 class="card-title">
                          <%= pop.title %>
                        </h6>
                        <p class="card-subtitle text-secondary">Precio $<%= number_with_delimiter(pop.precio, :delimiter => ".") %></p>
                        <small class="card-text"><%= pop.descripcion.truncate_words(15) %></small>
                      </div>
                      
                </div>
                <div class="modal fade" id="<%= pop.title.delete(' ') %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle"><%= pop.title %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= image_tag pop.avatar.url, class:'rounded img-fluid' %>
                          <p class="text-secondary my-3">Precio $<%= number_with_delimiter(pop.precio, :delimiter => ".") %></p>
                          <p class="card-text"><%= pop.descripcion %></p>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>

            
             
          
              <br>
          
          <% end %>
    
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <h4>Información.</h4>
    
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Día</th>
                <th scope="col">Hora apertura</th>
                <th scope="col">Hora cierre</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Lunes</td>
                <td><%= @product.lunesA.strftime("%H:%M") %></td>
                <td><%= @product.lunesC.strftime("%H:%M") %></td>
              </tr>
              <tr>
                <td>Martes</td>
                <td><%= @product.martesA.strftime("%H:%M") %></td>
                <td><%= @product.martesC.strftime("%H:%M") %></td>
              </tr>
              <tr>
                <td>Miercoles</td>
                <td><%= @product.miercolesA.strftime("%H:%M") %></td>
                <td><%= @product.miercolesC.strftime("%H:%M") %></td>
              </tr>
              <tr>
                <td>Jueves</td>
                <td><%= @product.juevesA.strftime("%H:%M") %></td>
                <td><%= @product.juevesC.strftime("%H:%M") %></td>
              </tr>
              <tr>
                <td>Viernes</td>
                <td><%= @product.viernesA.strftime("%H:%M") %></td>
                <td><%= @product.viernesC.strftime("%H:%M") %></td>
              </tr>
              <tr>
                <td>Sábado</td>
                <td><%= @product.sabadoA.strftime("%H:%M") %></td>
                <td><%= @product.sabadoC.strftime("%H:%M") %></td>
              </tr>
              <tr>
                <td>Domingo</td>
                <td><%= @product.domingoA.strftime("%H:%M") %></td>
                <td><%= @product.domingoC.strftime("%H:%M") %></td>
              </tr>
            </tbody>
          </table>
    
          
            <div style='width: 800px;'>
              <div id="map" style='width: 800px; height: 400px;'></div>
            </div>

            
    
    
        </div>
      </div>
    </div>
    <!-- Aside -->
    <div class="col-12 col-md-12 col-lg-3">
      <div class="bg-light border rounded-lg p-3 shadow-sm">
        <h4>
          <% if @product.comments.empty? %>
          Sin comentarios
          <% elsif @product.comments.count == 1 %>
          <%= @product.comments.count %> Comentario
          <% else %>
          <%= @product.comments.count %> Comentarios
          <% end %>
           <i class="fas fa-comments"></i></h4>
        <% if @product.comments.empty? %>
          <h5 class="alert alert-info">Deja el primer comentario</h5>
        <% else %>
        <ul class="list-group box_comentarios">
          <% @product.comments.order(created_at: :desc).each do |comment| %>
          <li class="list-group-item">
            <div class="row p-0">
              <div class="col-2">
                <%= image_tag comment.user.image.avatar.url, class:'redondaImg img-fluid shadow-sm border border-dark' %>
                
              </div>
              <div class="col-10 p-0">
                <div class="m-0">
                  <small class="float-right"><%= "#{time_ago_in_words(comment.created_at)}" if comment.created_at %></small>
                  <h6 class="text-dark"><%= comment.user.name.capitalize %></h6>
                  <%= comment.body %>
                </div>
                
              </div>
            </div>
          </li>
          <% end %>
        </ul>
        <% end %>
                  <!-- Button trigger modal -->
          <% if user_signed_in? %>
            <%= form_for([@product, @product.comments.build]) do |f| %>
              <div class="input-group">
                <%= f.text_field :body, class:'form-control', placeholder:'Escribe tu comentario aquí...' %>
                <div class="input-group-append">
                  <%= f.submit 'Enviar', class:'btn btn-dark' %>
                </div>
              </div>
            <% end %>
          <% else %>
              <p class="text-info text-center">Para comentar debes:</p>
            <%= link_to 'Iniciar sesión', new_user_session_path, class:'btn btn-success btn-sm btn-block mt-3' %>
            <%= link_to 'Registrarse', new_user_registration_path, class:'btn btn-danger btn-sm btn-block mt-3' %>
          <% end %>

    
 
      </div>

      <div class="bg-light p-3 mt-3 shadow-sm border rounded-lg">
        <h4 class="text-dark">Envía un mensaje directo</h4>
        <small class="text-muted font-italic">Este mensaje solo será recibido por la empresa.</small>

        <%= render 'messages/form'%>

      </div>


      

<!-- Modal -->
<div class="modal fade" id="message" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Mensajes directos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <%= render @messages %>
        </div>
      <div class="modal-footer">
        <p class="text-left text-info">Responde a tus posibles clientes vía email.</p>
      </div>
    </div>
  </div>
</div>


    </div>

  </div>


  

</div>


<script type="text/javascript">
  handler = Gmaps.build('Google');  
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){  
    markers = handler.addMarkers([  
      {  
        "lat": 37.3333945,  
        "lng": -121.8806499,  
        "picture": {  
          "width":  32,  
          "height": 32  
        },  
        "infowindow": "SJSU"  
      }  
    ]);  
    handler.bounds.extendWith(markers);  
    handler.fitMapToBounds();  
  }); 
</script>