<div class="jumbotron bg-white">
  <div class="row justify-content-md-center">
    <%= image_tag @product.img.thumb.url, class:'rounded mx-auto d-block' %>
  </div>
  <h1 class="text-center text-primary mt-3"><%= @product.title %></h1>

  <h5 class="text-primary">Datos de contacto.</h5>
  
  <p class="lead"><%= @product.phone %></p>
  <hr class="my-4">
  <p><%= @product.body %></p>
  <p>
    <%= @product.email %>
  </p>
  <p>
    <%= @product.address %>
  </p>
  <p>
    <%= @product.info %>
  </p>
  <a class="btn btn-primary btn-sm" href="<%= @product.facebook %>" role="button">Facebook</a>
  <p>
    <strong>Tiempo de espera:</strong> <%= @product.tiempoEspera %> Minutos
  </p>

</div>
<div class="container">




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#exampleModal">
  Agrega un nuevo menú.
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">

          Título Menú
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'lists/form' %>
     
    </div>
  </div>
</div>

<% @product.lists.each do |list| %>
  <% if user_signed_in? && current_user == @product.user %>
    <h4 class="mt-3"><%= link_to list.title, list %></h4>
    <%= link_to 'Agregar plato', list, class:'btn btn-primary btn-sm'%>
  <% else %>
<div class="inline-block"><h4 class="h3"><%= list.title %></h4>
</div>

<% end %>
<hr>
  <div class="row">
    <% list.pops.each do |pop| %>
    <div class="col-xs-6 col-md-3 mt-3">
      <div class="card text-white bg-secondary mb-3">
            <%= image_tag pop.avatar.thumb.url, class:'card-img-top' %>

            <div class="card-body">
              <h5 class="card-title">
                <% if pop.destacado == true %>
                  <i class="fas fa-star" style="color: yellow;"></i>
                <% end %>

                <%= pop.title %>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted">Precio $<%= number_with_delimiter(pop.precio, :delimiter => ".") %></h6>
              <p class="card-text"><%= pop.descripcion.truncate_words(15) %></p>
            </div>
      </div>
    </div>
    <% end %>
  </div>
  
   

    <br>

<% end %>
<br><br><br>
</div>