<div class="text-center fixed-bottom"> 
  <%= render 'products/config' %>
</div>
<div class="container-fluid bg-white pt-3 shadow-sm">

  <div class="row">
    <div class="col-12 col-sm-12 col-md-7 pb-2">
      <%= render 'products/header' %>
    </div>
    <div class="col-12 col-sm-12 col-md-5 pb-2">
      <%= render 'products/informacion' %>
  </div>

  <hr>
    <%= render 'products/redes' %>
  </div>
</div>

<!-- Contenido de la empresa -->
<!-- Article -->
<div class="container-fluid py-3 bg-white">
  <div class="row row-cols-2">
    <div class="col-12 col-sm-12 col-lg-9">
      <%= render 'products/desmap' %>
      <%= render 'products/carousel' %>

      <div class="mt-2" id="nav-tabContent">
        
          <% if @product.lists.present? %>
          <% @product.lists.each do |list| %>
            <% if user_signed_in? && current_user == @product.user %>
            
              <%= link_to list, class:'text-danger float-right', method: :delete, data: { confirm: 'Estás seguro?' } do %>
              <i class="far fa-trash-alt"></i>
              <% end %>
            
            <%= link_to '<i class="fas fa-th"></i> Agregar item'.html_safe, list, class:' text-primary float-left'%>
              <h4 class="mt-3 text-center">
                <%= link_to list.title, list %>
              </h4>
              <hr>
            <% else %>
            <div class="inline-block">
              <h4 class="text-center text-dark">
                <%= list.title %>
              </h4>
            </div>
            <hr>
            <% end %>

            <div class="row">
              <% list.pops.each do |pop| %>
              <div class="col-6 col-sm-4 col-md-4 col-lg-3 mt-1 pr-1 pl-1">
                <div class="card text-dark shadow-sm mb-3">
                  <a data-toggle="modal" data-target="#<%= pop.title.delete(' ') %>">
                    <%= image_tag pop.avatar.thumb.url, class:'card-img-top' %>
                  </a>
                      <% if pop.destacado == true %>
                      <div class="notify-badge">
                        <i class="fas fa-star estrellita"></i>
                      </div>
                      <% end %>
                      <div class="card-body text-center">
                        <h6 class="card-title">
                          <%= pop.title %>
                        </h6>
                        <p class="card-subtitle text-secondary">Precio $<%= number_with_delimiter(pop.precio, :delimiter => ".") %></p>
                        <small class="card-text"><%= pop.descripcion.truncate_words(15) %></small>
                      </div>
                      
                </div>
                <div class="modal fade" id="<%= pop.title.delete(' ') %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle"><%= pop.title %></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= image_tag pop.avatar.url, class:'rounded img-fluid' %>
                          <p class="text-secondary my-3">Precio $<%= number_with_delimiter(pop.precio, :delimiter => ".") %></p>
                          <p class="card-text"><%= pop.descripcion %></p>
              
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
              <% end %>
              
            </div>

            
             
          
              <br>
          
          <% end %>
          <% else %>
            <% if user_signed_in? && current_user == @product.user %>
            <div class="alert alert-info text-center">
              <h3>Agrega una lista.</h3>
              <p>En el botón superior.</p>
            </div>
            <% end %>

          <% end %>
    
        
        
      </div>
    </div>
    <!-- Aside -->
    <div class="mx-auto col-12 col-md-12 col-lg-3">
      <% if @product.box.present? %>
      <div class="text-center mb-3">
        <%= raw @product.box %>
      </div>
      <% end %>
      <div class="bg-light border rounded-lg p-3 shadow-sm">
        <h4 class="text-center">
          <% if @product.comments.empty? %>
          Sin comentarios
          <% elsif @product.comments.count == 1 %>
          <span class="badge badge-primary"><%= @product.comments.count %></span> Comentario
          <% else %>
          <span class="badge badge-primary"><%= @product.comments.count %></span> Comentarios
          <% end %>
           <i class="fas fa-comments"></i></h4>
        <% if @product.comments.empty? %>
          <h5 class="alert alert-info">Deja el primer comentario</h5>
        <% else %>
        <ul class="list-group box_comentarios">
          <% @product.comments.order(created_at: :desc).each do |comment| %>
          <li class="list-group-item">
            <div class="row p-0">
              <div class="col-2">
                <%= image_tag comment.user.image.avatar.url, class:'redondaImg img-fluid shadow-sm border border-dark' %>
                
              </div>
              <div class="col-10 p-0">
                <div class="m-0">
                  <small class="float-right"><%= "#{time_ago_in_words(comment.created_at)}" if comment.created_at %></small>
                  <h6 class="text-dark"><%= comment.user.name.capitalize %></h6>
                  <%= comment.body %>
                </div>
                
              </div>
            </div>
          </li>
          <% end %>
        </ul>
        <% end %>
                  <!-- Button trigger modal -->
          <% if user_signed_in? %>
            <%= form_for([@product, @product.comments.build]) do |f| %>
              <div class="input-group mt-3">
                <%= f.text_field :body, class:'form-control', placeholder:'Escribe tu comentario aquí...' %>
                <div class="input-group-append">
                  <%= f.submit 'Enviar', class:'btn btn-dark' %>
                </div>
              </div>
            <% end %>
          <% else %>
              <p class="text-info text-center">Para comentar debes:</p>
            <%= link_to '<i class="fas fa-sign-in-alt"></i> Iniciar sesión'.html_safe, new_user_session_path, class:'btn btn-success btn-sm mt-2' %>
            <%= link_to '<i class="fas fa-user-plus"></i> Registrarse'.html_safe, new_user_registration_path, class:'btn btn-danger btn-sm mt-2' %>
          <% end %>

    
 
      </div>

      <div class="bg-light p-3 mt-3 shadow-sm border rounded-lg">
        <h4 class="text-dark">Envía un mensaje directo</h4>
        <small class="text-muted font-italic">Este mensaje solo será recibido por la empresa.</small>

        <%= render 'messages/form'%>

      </div>

<!-- Modales -->
<%= render 'products/modals' %>




    </div>

  </div>


  

</div>


