<!DOCTYPE html>
<html>
  <head>
    <title>ConectaBuin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes">


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v6.0&appId=247393923092737&autoLogAppEvents=1"></script>



  </head>

  <body>
    <%= render 'partials/nav' %>
    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show" role="alert" id="alert">
        <strong>ConectaBuin te notifica que!</strong> <%= notice %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" id="alert">
        <strong>Cuidado!</strong> <%= alert %> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
      <div class="min my-3">
        <%= yield %>
      </div>
      <%= render 'partials/footer' %>

  </body>
</html>
